/*  your css code here. If applicable */
 <style>
        .headings { color: #3b99e0; }
        .summary { 
            background-color: #f7fbff; 
            border-top: 3px solid #5ea4f3; 
            padding: 20px; 
            border-bottom: 2px solid #dee2e6; 
        }
        .product { border: 1px solid #dee2e6; margin-bottom: 15px; padding: 15px; }
        .block-heading { text-align: center; margin-bottom: 30px; }
        .summary-btn { 
            background-color: #3b99e0; 
            border-color: #3b99e0; 
            width: 100%; 
            padding: 12px; 
            font-weight: bold;
        }
    </style>